<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cpf.mapper.transaction.TraCategoriesMapper" >
  <resultMap id="BaseResultMap" type="com.cpf.beans.transaction.TraCategories" >
    <id column="cateid" property="cateid" jdbcType="VARCHAR" />
    <result column="catename" property="catename" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="VARCHAR" />
    <result column="catecode" property="catecode" jdbcType="VARCHAR" />
  </resultMap>
  
  <!-- 查询所有的产品类型，state 为0代表可用1不可用  jll-->
  <select id="findCategories" resultMap="BaseResultMap">
  		select * from tra_categories  t where t.state = '0'
  </select>
  
  
  
</mapper>